body{
    background-color: rgb(59, 34, 2);
}

main{
    border: 12px solid green ;
}
section{
    border: 10px dashed pink;
}
header{
    border: 14px solid red;
}
/*   font size of using the pixel  */
header
{
    font-size: 5px;
}
/*  font size vh  */
header{
   font-size: 5vh;
}
/*  font size vw  */
 main{
    font-size: 3vw;
 }
 /* font size em  */
 section{
    font-size: 2em;
 }
 /*  font size in rem  */
 main{
    font-size: 3rem;
 }